body{
  background: #F8F9FB;

}
/* The sidebar menu */
.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 100px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #FFFFFF; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidebar-link{
  padding: 16px 45px 16px 25px;
  margin-top: 10px;
  text-decoration: none;
  font-size: 25px;
  color: #B5B5B5;
  display: block;
  border: none;
  cursor: pointer;
}

.sidebar-options{
  position: relative;
  top: 150px;
}

.sidebar-link:hover{
  color: #000000;
}

/* Style page content */
.main {
  margin-left: 100px; /* Same as the width of the sidebar */
  padding: 0px 10px;
  padding-left: 100px;
  padding-right: 100px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

